<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.masconsult.robostyles"
    android:versionCode="2"
    android:versionName="0.2-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application />

</manifest>
